.positionsSection {
    width: 100%;
    height: auto;
    background-size: cover;
    scroll-snap-align: start;
    z-index: -1;
}

.entryTitleContainer {
    width: 100%;
    margin: auto;
    z-index: 0;
    height: 30%;
    padding: 80px 30px 0px;
    color: #000000;
    margin-bottom: 5%;
}

.positionTitleContainer__comEng {
    font-size: 48px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.positionTitleContainer__comJp {
    font-size: 24px;
    vertical-align: bottom;
    position: absolute;
    top: 40%;
    left: 15%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: #234874;
}

.comtemtsContainer {
    height: 800px;
    width: 100%;
    padding: 0px 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}

.positionsContainer {
    position: relative;
    width: 30%;
    height: auto;
    text-align: center;
    font-size: 18px;
    font-family: "Poppins";
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 5%;
}

.positionsContainer #Eng {
    color: #15a878;
}

.positionsContainer #Jpn {
    color: #de0d03;
}

.possition__btn__over {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    font-weight: bold;
    color: #000000;
    font-size: 32px;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.6);
}

.possition__btn__over__message {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    top: 20%;
}

.positionsMessageImg {
    width: 70%;
    height: auto;
}

/* TODO メディアクエリ */
@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 480px) {
    .comtemtsContainer {
        height: 800px;
    }

    .positionsContainer {
        width: 50%;
        height: auto;
    }
}
