<!-- Load an icon library to show a hamburger menu (bars) on small screens -->
<link rel="stylesheet" href="../css/common/footer.css">
<div class="footerContainer">
	<!-- Bottom Navigation Menu -->
	<div class="bottomNavBlack">
		  <ul class="menuBlack">
		      <li><a class="menuItem" href="#">Company</a></li>
		      <li><a class="menuItem" href="#">Services</a></li>
		      <li><a class="menuItem" href="#">Recruit</a></li>
		      <li><a class="menuItem" href="#">SES Partner</a></li>
		      <li><a class="menuItem" href="#">News</a></li>
		      <li><a class="menuItem" href="#">Contact</a></li>
		  </ul>
	</div>
	<div class="bottomNavWhite">
		<ul class="menuWhite">
			<li><a href="#" id="menuItemWhiteLink" >個人情報の取り扱いについて</a></li>
		    <li>© 2021 株式会社アジアンビジネスネットワーク</li>
		</ul>
	</div>
</div>
