/* footer container */
. {
    display: block;
    position: relative;
}

.footerContainer {
    bottom: 0;
}

/* Style the footer navigation menu background to black */
.buttonBlock {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
}

.bottomNavBlack {
    overflow: hidden;
    background-color: #000000;
    color: #ffffff;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 95px;
}

/* make the footer menu to center */
.menuBlack {
    display: flex;
    justify-content: center;
    margin: 10px;
}

/* restyle the footer menu to horizontal list */
.menuBlack li {
    display: inline;
    margin: 25px;
}

/* style the footer menu word to white */
.footerMenuItem {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}

/* Style the navigation menu background white */
.bottomNavWhite {
    overflow: hidden;
    display: block;
    width: 100%;
    height: 30px;
    font-family: "Poppins";
}

.menuWhite {
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

.menuWhite li {
    display: inline;
    margin-right: 40px;
}

/*
.menuItemWhite1{
 position: fixed;
 left: 40px;
 bottom: 23px;
}
.menuItemWhite2{
 position: fixed;
 right: 40px;
 bottom: 23px;
}
*/

#menuItemWhiteLink {
    color: #000000;
    text-decoration: none;
}

@media screen and (max-width: 480px) {
    .menuBlack {
        margin: 0px;
        list-style: none;
        display: block;
        height: 100%;
        padding-top: 10%;
    }
    .menuBlack ul {
        margin: 0px;
        list-style: none;
    }

    .menuBlack li {
        margin: 0px;
        list-style: none;
    }

    .footerMenuItem {
        font-size: 16px;
        color: #ffffff;
        display: block;
    }

    .bottomNavBlack {
        display: block;
        height: 250px;
    }

    .bottomNavWhite {
        height: 50px;
    }

    .menuWhite {
        display: block;
        text-align: center;
        font-size: 12px;
    }

    .menuWhite li {
        display: block;
    }
}
