<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="../../css/top/topCompany.css">
</head>
<body>
<div class="title-Container">
	<div class="title">
		<p>
		<h1>COMPANY</h1>
		<h2>会社案内</h2>
		</p>
	</div>
</div>
<div class="contentCompany-container">
	<div class="contentCompany">
		<ul>
			<li><h1>会社概要</h1></li>
			<li><h3>ABNはIT技術とエンジニアの成長を通じて正解に通用するビジネスをサポートします</h3></li>
			<li id="moreCompany_container"><a href="#" id="moreCompany">MORE →</a></li>
		</ul>
	</div>
</div>
</body>
</html> 
