<!DOCTYPE html>
<html lang="ja">
<head>
  <!-- meta -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="description" content="A Simple Full Page Scroll">
  <!-- meta end -->

  <!-- title -->
    <title>TOP | 株式会社アジアンビジネスネットワーク | Asian Business Network</title>
  <!-- title end -->
  
  <!-- icon -->
   <link rel="icon" href="../../../storage/icon/logo-600x164px-nosubtitle.png">
  <!-- icon end -->

  <!-- css -->
   <link rel="stylesheet" type="text/css" href="../../css/style.css">
   <!-- header css -->
    <link rel="stylesheet" href="../../css/common/header.css">
   <!-- sliceShow css -->
    <link rel="stylesheet" href="../../css/top/slideShow.css">
   <!-- company css -->
    <link rel="stylesheet" href="../../css/top/topCompany.css">
   <!-- service css -->
    <link rel="stylesheet" href="../../css/top/service.css">
   <!-- recruit css -->
    <link rel="stylesheet" href="../../css/top/recruit.css">
   <!-- news css -->
    <link rel="stylesheet" href="../../css/top/news.css">
   <!-- contact css -->
    <link rel="stylesheet" href="../../css/top/contact.css">
   <!-- footer css -->
    <link rel="stylesheet" href="../../css/common/footer.css">
   <!-- css end -->
</head>

<body>
<!-- header -->
  <!-- Top Navigation Menu -->
    <div class="topNav">
      <!-- Logo -->
      <a href="home.php" class="logo"><img src='../../../storage/icon/new_logo-600x164px.png'></a>
      <div id="hamburgerMenu"></div>
      <!-- Hamburger Navigation Menu -->
        <input id="menuToggle" type="checkbox" />
          <label class="menuBtn" for="menuToggle"><span class="menuList"></span></label>
          <!-- Navigation links (hidden by default) -->
        <ul class="menuBox">
            <li class="menuItem" >
            <!-- Hamburger sub-menu -->
              <div tabindex="0" class="onclickMenu">COMPANY
                    <ul class="onclickMenuContent">
                        <li><a href="#" class="hamburgerSubMenu">ビジョン</a></li>
                        <li><a href="#" class="hamburgerSubMenu">ミッション</a></li>
                        <li><a href="#" class="hamburgerSubMenu">代表挨拶</a></li>
                        <li><a href="#" class="hamburgerSubMenu">会社概要</a></li>
                    </ul>
                </div></li>
            </li>
            <li class="menuItem">
              <div tabindex="0" class="onclickMenu">SERVICES
                    <ul class="onclickMenuContent">
                        <li><a href="#" class="hamburgerSubMenu">メディア事業</a></li>
                        <li><a href="#" class="hamburgerSubMenu">受託開発事業</a></li>
                        <li><a href="#" class="hamburgerSubMenu">SES事業</a></li>
                    </ul>
                </div></li>
            <li class="menuItem">
              <div tabindex="0" class="onclickMenu">RECRUIT
                    <ul class="onclickMenuContent">
                        <li><a href="#" class="hamburgerSubMenu">業務内容</a></li>
                        <li><a href="#" class="hamburgerSubMenu">募集要項</a></li>
                        <li><a href="#" class="hamburgerSubMenu">選考フロー</a></li>
                        <li><a href="#" class="hamburgerSubMenu">エントリー</a></li>
                    </ul>
                </div></li>
            <li><a class="menuItem" href="#">SES PARTNER</a></li>
            <li><a class="menuItem" href="#">NEWS</a></li>
            <li><a class="menuItem" href="#">CONTACT</a></li>
        </ul>
    </div>
<!-- header end -->

<!-- body container -->
  <div class="bodyContainer">
    <!-- slice show section -->
      <!-- <section class="section">
        <div class="slideshow-container">

          <div class="mySlides fade">
            <img src="../../../storage/img/view1.jpg" style="width:100%">
          </div>
        
          <div class="mySlides fade">
            <img src="../../../storage/img/view2.jpg" style="width:100%">
          </div>
        
          <div class="mySlides fade">
            <img src="../../../storage/img/view3.jpg" style="width:100%">
          </div>
        
          <div style="text-align:center">
            <span class="dot"></span> 
            <span class="dot"></span> 
            <span class="dot"></span> 
          </div>
        
        </div>
      
        <script src="../../js/top/slideShow.js"></script>
      </section> -->
    <!-- slice show section end -->
    <!-- Company section -->
      <section class="section">
        <div class="companyTitleContainer">
            <p id="comEng">COMPANY</p>
            <p id="comJp">会社案内</p>
        </div>
        <div class="contentCompanyContainer">
          <div class="contentCompany">
            <ul>
              <li><h1>会社概要</h1></li>
              <li><h3>ABNはIT技術とエンジニアの成長を通じて正解に通用するビジネスをサポートします</h3></li>
              <li id="buttonCompanyContainer"><a href="#" id="buttonCompany">MORE →</a></li>
            </ul>
          </div>
        </div>
      </section>

    <!-- Service section -->
      <section class="section">
        <div class="companyTitleContainer">
          <p id="comEng">Service</p>
          <p id="comJp">企業案内</p>
        </div>
        <div class="contentCompanyContainer">
          <div class="contentCompany">
            <ul>
              <li><h1>企業案内</h1></li>
              <li><h3>サンプルで使用するもの、ここで文章が入ります</h3></li>
              <li>画像などもつけれるので、要望があれば言ってください</li>
            </ul>
          </div>
        </div>
      </section>

    <!-- Recruit section -->
      <section class="section">
        <div class="companyTitleContainer">
          <p id="comEng">Recruit</p>
          <p id="comJp">採用情報</p>
        </div>
        <div class="contentCompanyContainer">
          <div class="contentCompany">
            <ul>
              <li><h1>採用情報</h1></li>
              <li><h3>サンプルで使用するもの、ここで文章が入ります</h3></li>
              <li>画像などもつけれるので、要望があれば言ってください</li>
            </ul>
          </div>
        </div>
      </section>

    <!-- News section -->
      <section class="section">
        <div class="companyTitleContainer">
          <p id="comEng">NEWS</p>
          <p id="comJp">最新情報</p>
        </div>
        <div class="contentCompanyContainer">
          <div class="contentCompany">
            <ul>
              <li><h1>最新情報</h1></li>
              <li><h3>サンプルで使用するもの、ここで文章が入ります</h3></li>
              <li>画像などもつけれるので、要望があれば言ってください</li>
            </ul>
          </div>
        </div>
      </section>

    <!-- Contact section -->
      <section class="section" style="overflow: hidden;">
        <div class="companyTitleContainer">
          <p id="comEng">Contact</p>
          <p id="comJp">会社連絡</p>
        </div>
        <div class="contentCompanyContainer">
          <div class="contentCompany">
            <ul>
              <li><h1>会社連絡</h1></li>
              <li><h3>サンプルで使用するもの、ここで文章が入ります</h3></li>
              <li>画像などもつけれるので、要望があれば言ってください</li>
            </ul>
          </div>
        </div>
        <!-- footer -->
        <div class="footerContainer">
          <!-- Bottom Navigation Menu -->
          <div class="bottomNavBlack">
              <ul class="menuBlack">
                  <li><a class="menuItem" href="#">Company</a></li>
                  <li><a class="menuItem" href="#">Services</a></li>
                  <li><a class="menuItem" href="#">Recruit</a></li>
                  <li><a class="menuItem" href="#">SES Partner</a></li>
                  <li><a class="menuItem" href="#">News</a></li>
                  <li><a class="menuItem" href="#">Contact</a></li>
              </ul>
          </div>
          <div class="bottomNavWhite">
            <ul class="menuWhite">
              <li><a href="#" id="menuItemWhiteLink" >個人情報の取り扱いについて</a></li>
                <li>© 2021 株式会社アジアンビジネスネットワーク</li>
            </ul>
          </div>
        </div>
        <!-- footer end -->
        </section>
  </div>
<!-- body container end -->
</body>
</html>