<!DOCTYPE html>
<html>
    <head>
        <!-- meta -->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no"
        />
        <meta name="description" content="A Simple Full Page Scroll" />
        <!-- meta end -->

        <!-- header css -->
        <link rel="stylesheet" type="text/css" href="../../css/style.css" />
        <link rel="stylesheet" type="text/css" href="../../css/style.scss" />
        <link rel="stylesheet" href="../../css/common/header.css" />
        <link rel="stylesheet" href="../../css/common/footer.css" />
        <!-- company css -->
        <link rel="stylesheet" href="../../css/top/service.css" />
        <link rel="stylesheet" href="../../css/top/topRecruit.css" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
        />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.min.css"
            integrity="sha384-fFxL8wXRpg9gVqGpY+URMtLr3fLL0WBbo4NBQ+IWwMDYjIjI5VQ46XlJm5+BUlXJ"
            crossorigin="anonymous"
        />
    </head>
</html>
<body>
    <div>
        <div class="topNav">
            <!-- Logo -->
            <a href="home.php" class="logo"
                ><img
                    src="../../../storage/icon/new_logo-600x164px.png"
                    width="200"
            /></a>
            <div id="hamburgerMenu"></div>
            <!-- Hamburger Navigation Menu -->
            <input id="menuToggle" type="checkbox" />
            <label class="menuBtn" for="menuToggle"
                ><span class="menuList"></span
            ></label>
            <!-- Navigation links (hidden by default) -->
            <ul class="menuBox">
                <li class="menuItem">
                    <!-- Hamburger sub-menu -->
                    <div tabindex="0" class="onclickMenu">
                        COMPANY
                        <ul class="onclickMenuContent">
                            <li>
                                <a href="#" class="hamburgerSubMenu"
                                    >ビジョン</a
                                >
                            </li>
                            <li>
                                <a href="#" class="hamburgerSubMenu"
                                    >ミッション</a
                                >
                            </li>
                            <li>
                                <a href="#" class="hamburgerSubMenu"
                                    >代表挨拶</a
                                >
                            </li>
                            <li>
                                <a href="#" class="hamburgerSubMenu"
                                    >会社概要</a
                                >
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="menuItem">
                    <div tabindex="0" class="onclickMenu">
                        SERVICES
                        <ul class="onclickMenuContent">
                            <li>
                                <a href="#" class="hamburgerSubMenu"
                                    >メディア事業</a
                                >
                            </li>
                            <li>
                                <a href="#" class="hamburgerSubMenu"
                                    >受託開発事業</a
                                >
                            </li>
                            <li>
                                <a href="#" class="hamburgerSubMenu">SES事業</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="menuItem">
                    <div tabindex="0" class="onclickMenu">
                        RECRUIT
                        <ul class="onclickMenuContent">
                            <li>
                                <a href="#" class="hamburgerSubMenu"
                                    >業務内容</a
                                >
                            </li>
                            <li>
                                <a href="#" class="hamburgerSubMenu"
                                    >募集要項</a
                                >
                            </li>
                            <li>
                                <a href="#" class="hamburgerSubMenu"
                                    >選考フロー</a
                                >
                            </li>
                            <li>
                                <a href="#" class="hamburgerSubMenu"
                                    >エントリー</a
                                >
                            </li>
                        </ul>
                    </div>
                </li>
                <li><a class="menuItem" href="#">SES PARTNER</a></li>
                <li><a class="menuItem" href="#">NEWS</a></li>
                <li><a class="menuItem" href="#">CONTACT</a></li>
            </ul>
        </div>
    </div>
    <div class="bodyContainer">
        <section class="serviceSection">
            <div class="serviceTitleContainer">
                <div class="serviceTitleContainer__title">
                    <div class="serviceTitleContainer__title__comEng">
                        SERVICE
                    </div>
                    <div class="serviceTitleContainer__title__comJp">
                        事業内容
                    </div>
                </div>
                <div class="">
                    <a class="link text-light" href="">TOP</a>
                    <span>></span>
                    <a class="link text-light" href="">SERVICE</a>
                </div>
            </div>
            <div class="contentServiceContainer">
                <div class="contentServiceBusiness">
                    <div class="contentServiceBusiness__Element__1">
                        <div>SES事業</div>
                        <img
                            src="../../../storage/img/view1.jpg"
                            class="contentServiceBusiness__Element__img"
                        />
                        <div>System Engineering Services</div>
                    </div>
                    <div class="contentServiceBusiness__Element__2">
                        <div>
                            <div>メディア事業</div>
                            <img
                                src="../../../storage/img/view1.jpg"
                                class="contentServiceBusiness__Element__img"
                            />
                            <div>for Foreigner</div>
                        </div>
                    </div>
                    <div class="contentServiceBusiness__Element__3">
                        <div>
                            <div>受託開発事業</div>
                            <img
                                src="../../../storage/img/view1.jpg"
                                class="contentServiceBusiness__Element__img"
                            />
                            <div>Offshore Development</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="systemEngineeringServiceSection">
            <div class="serviceTitleContainer">
                <div class="serviceTitleContainer__title">
                    <div class="serviceTitleContainer__title__comEng">
                        <span class="serviceTitleContainer__title__green"
                            >S</span
                        >ystem
                        <span class="serviceTitleContainer__title__red">E</span
                        >ngineering
                        <span class="serviceTitleContainer__title__green"
                            >S</span
                        >ervice
                    </div>
                    <div class="serviceTitleContainer__title__comJp">
                        SES事業
                    </div>
                </div>
            </div>
            <div class="contentServiceContainer">
                <div class="contentService__text">
                    IT人材不足が深刻化するなか、企業の枠を超えて<br />
                    複数のプロジェクトに携わるエンジニアの働き方に注目が集まっています。<br />
                    <br />
                    弊社では、顧客企業の抱えるビジネス課題<br />
                    （集客、採用、ブランディング、システム等）を<br />
                    解決したいというご要望に対して、<br />
                    多面的にサポートする体制が整備されています。<br />
                    <br />
                    弊社の豊富なリソースを生かし、ITエンジニアのスペシャリストの<br />
                    ご提案を通じて、企業のエンジニアリングにおける課題を解決します。
                </div>
            </div>
        </section>
        <section class="halalInformationServiceSection">
            <div class="serviceTitleContainer">
                <div class="serviceTitleContainer__title">
                    <div class="serviceTitleContainer__title__comEng">
                        <span class="serviceTitleContainer__title__green"
                            >H</span
                        >alal
                        <span class="serviceTitleContainer__title__red">I</span
                        >nformation
                        <span>for</span>
                        <span class="serviceTitleContainer__title__green"
                            >T</span
                        >ourists
                    </div>
                    <div class="serviceTitleContainer__title__comJp">
                        メディア事業
                    </div>
                </div>
            </div>
            <div class="contentServiceContainer">
                <div class="contentService__text">
                    「HALAL FOOD IN JAPAN」という訪日外国人<br />
                    観光客向けメディアを開発・運営しており、<br />
                    全ての訪日外国人に快適に過ごして欲しいという思いで、<br />
                    利用者目線に立った情報の提供を心がけています。<br />
                    <br />

                    また、自社内でのプロジェクトにも携わることで、<br />
                    エンジニアが未経験の技術にも積極的に挑戦ができると考えています。<br />
                    <br />
                    メディア開発で培った技術を、<br />
                    SES事業や受託開発に還元できるような環境がございます。<br />
                </div>
            </div>
        </section>
        <section class="halalInformationSPServiceSection"></section>
        <section class="offshoreServiceSection">
            <div class="serviceTitleContainer">
                <div class="serviceTitleContainer__title">
                    <div class="serviceTitleContainer__title__comEng">
                        <span class="serviceTitleContainer__title__green"
                            >O</span
                        >ffshore
                        <span class="serviceTitleContainer__title__red">D</span
                        >evelop<span class="serviceTitleContainer__title__green"
                            >m</span
                        >ent
                    </div>
                    <div class="serviceTitleContainer__title__comJp">
                        受託開発事業
                    </div>
                </div>
            </div>
            <div class="contentServiceLastContainer">
                <div class="contentService__text">
                    Webサイトやアプリの企画・開発、ネットワーク構築などの幅広い業務を賜ります。<br />
                    <br />
                    生産性や品質の向上はもちろんのこと、最新技術の導入、<br />
                    テンプレートやパッケージの活用、高度なセキュリティ技術による安全性の確保など、<br />
                    お客様から安心してお任せいただけるよう万全の体制をご用意しております。<br />
                    <br />
                    また、オフショア開発もおこなっております。<br />
                    ニーズに合わせてバングラデシュで開発体制を構築し、コスト低減に貢献して参ります。<br />
                </div>
            </div>
            <div class="footerContainer">
                <!-- Bottom Navigation Menu -->
                <div class="bottomNavBlack">
                    <ul class="menuBlack">
                        <li><a class="menuItem" href="#">Company</a></li>
                        <li><a class="menuItem" href="#">Services</a></li>
                        <li><a class="menuItem" href="#">Recruit</a></li>
                        <li><a class="menuItem" href="#">SES Partner</a></li>
                        <li><a class="menuItem" href="#">News</a></li>
                        <li><a class="menuItem" href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</body>
