<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="../css/top/topService.css">
</head>
<body>
<div class="bgService-Container"><img src="../../storage/bg_img/top/service_bg.jpg" style="width:100%">
	<div class="sesContainer">
		<ul class ="ses">
			<ul id="jap"><a href="#">SES事業</a></ul>
			<ul id="ses_pic" ><a href="#"><img src="../../storage/img/service/System Engineering Services.jpg"></a></ul>
			<ul id="romaji"><a href="#">System Engineering Services</a></ul>
		</ul>
	</div>
	<div class="mediaContainer">
		<ul class ="media">
			<ul id="jap"><a href="#">メディア事業</a></ul>
			<ul id="media_pic" ><a href="#"><img src="../../storage/img/service/Media Services for Foreigner.jpg"></a></ul>
			<ul id="romaji"><a href="#">Media Service for Foreigner</a></ul>
		</ul>
	</div>
	<div class="offshoreContainer">
		<ul class ="offshore">
			<ul id="jap"><a href="#">受託開発事業</a></ul>
			<ul id="offshore_pic" ><a href="#"><img src="../../storage/img/service/Offshore Development.jpg"></a></ul>
			<ul id="romaji"><a href="#">Offshore Development</a></ul>
		</ul>
	</div>
</div>
</body>
</html> 
