<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="../../css/top/slideShow.css">
</head>
<body>

<div class="slideshow-container">

	<div class="mySlides fade">
	  <img src="../../../storage/img/view1.jpg" style="width:100%">
	</div>

	<div class="mySlides fade">
	  <img src="../../../storage/img/view2.jpg" style="width:100%">
	</div>

	<div class="mySlides fade">
	  <img src="../../../storage/img/view3.jpg" style="width:100%">
	</div>

	<div style="text-align:center">
	  <span class="dot"></span> 
	  <span class="dot"></span> 
	  <span class="dot"></span> 
	</div>

</div>


<script src="../../js/top/slideShow.js"></script>
</body>
</html> 
