<!DOCTYPE html>
<html>
    <head>
        <!-- meta -->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no"
        />
        <meta name="description" content="A Simple Full Page Scroll" />
        <!-- meta end -->

        <!-- header css -->
        <link rel="stylesheet" type="text/css" href="../../css/style.css" />
        <link rel="stylesheet" type="text/css" href="../../css/style.scss" />
        <link rel="stylesheet" href="../../css/common/header.css" />
        <link rel="stylesheet" href="../../css/common/footer.css" />
        <!-- company css -->
        <link rel="stylesheet" href="../../css/top/top.css" />
        <link rel="stylesheet" href="../../css/top/topRecruit.css" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
        />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.min.css"
            integrity="sha384-fFxL8wXRpg9gVqGpY+URMtLr3fLL0WBbo4NBQ+IWwMDYjIjI5VQ46XlJm5+BUlXJ"
            crossorigin="anonymous"
        />
    </head>
</html>

<body>
    <div>
        <div class="topNav">
            <!-- Logo -->
            <a href="home.php" class="logo"
                ><img
                    src="../../../storage/icon/new_logo-600x164px.png"
                    width="200"
            /></a>
            <div id="hamburgerMenu"></div>
            <!-- Hamburger Navigation Menu -->
            <input id="menuToggle" type="checkbox" />
            <label class="menuBtn" for="menuToggle"
                ><span class="menuList"></span
            ></label>
            <!-- Navigation links (hidden by default) -->
            <ul class="menuBox">
                <li class="menuItem">
                    <!-- Hamburger sub-menu -->
                    <div tabindex="0" class="onclickMenu">
                        COMPANY
                        <ul class="onclickMenuContent">
                            <li>
                                <a href="#" class="hamburgerSubMenu"
                                    >ビジョン</a
                                >
                            </li>
                            <li>
                                <a href="#" class="hamburgerSubMenu"
                                    >ミッション</a
                                >
                            </li>
                            <li>
                                <a href="#" class="hamburgerSubMenu"
                                    >代表挨拶</a
                                >
                            </li>
                            <li>
                                <a href="#" class="hamburgerSubMenu"
                                    >会社概要</a
                                >
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="menuItem">
                    <div tabindex="0" class="onclickMenu">
                        SERVICES
                        <ul class="onclickMenuContent">
                            <li>
                                <a href="#" class="hamburgerSubMenu"
                                    >メディア事業</a
                                >
                            </li>
                            <li>
                                <a href="#" class="hamburgerSubMenu"
                                    >受託開発事業</a
                                >
                            </li>
                            <li>
                                <a href="#" class="hamburgerSubMenu">SES事業</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="menuItem">
                    <div tabindex="0" class="onclickMenu">
                        RECRUIT
                        <ul class="onclickMenuContent">
                            <li>
                                <a href="#" class="hamburgerSubMenu"
                                    >業務内容</a
                                >
                            </li>
                            <li>
                                <a href="#" class="hamburgerSubMenu"
                                    >募集要項</a
                                >
                            </li>
                            <li>
                                <a href="#" class="hamburgerSubMenu"
                                    >選考フロー</a
                                >
                            </li>
                            <li>
                                <a href="#" class="hamburgerSubMenu"
                                    >エントリー</a
                                >
                            </li>
                        </ul>
                    </div>
                </li>
                <li><a class="menuItem" href="#">SES PARTNER</a></li>
                <li><a class="menuItem" href="#">NEWS</a></li>
                <li><a class="menuItem" href="#">CONTACT</a></li>
            </ul>
        </div>
    </div>
    <div class="bodyContainer">
        <div class="topSection">
            <div class="topTitleContainer"></div>
            <div class="contentTopContainer">
                <div class="contentTop__text">
                    <div class="contentTop__headline">
                        日本と世界の<span class="contentTop__headline__red"
                            >カケハシ</span
                        >をつくる
                    </div>
                    IT人材不足が深刻化するなか、企業の枠を超えて<br />
                    複数のプロジェクトに携わるエンジニアの働き方に注目が集まっています。<br />
                    <br />
                    弊社では、顧客企業の抱えるビジネス課題<br />
                    （集客、採用、ブランディング、システム等）を<br />
                    解決したいというご要望に対して、<br />
                    多面的にサポートする体制が整備されています。<br />
                    <br />
                    弊社の豊富なリソースを生かし、ITエンジニアのスペシャリストの<br />
                    ご提案を通じて、企業のエンジニアリングにおける課題を解決します。
                </div>
            </div>
        </div>
        <!-- company -->
        <div class="topSection">
            <div class="topTitleContainer">
                <div class="topTitleContainer__title">
                    <div class="topTitleContainer__title__comEng">COMPANY</div>
                </div>
            </div>
            <div class="contentTopContainer">
                <div class="contentTopCompany">
                    <div class="contentTopCompany__headline">会社概要</div>
                    <div class="contentTopCompany__text">
                        ABNはIT技術とエンジニアの成長を通じて世界に通用するビジネスをサポートします。
                    </div>
                    <div class="buttonCompanyContainer">
                        <a href="#" class="buttonCompany">MORE →</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- service -->
        <div class="topSection">
            <div class="topTitleContainer">
                <div class="topTitleContainer__title">
                    <div class="topTitleContainer__title__comEng">SERVICE</div>
                    <div class="topTitleContainer__title__comJp">事業内容</div>
                </div>
                <div class="">
                    <a class="link text-light" href="">TOP</a>
                    <span>></span>
                    <a class="link text-light" href="">SERVICE</a>
                </div>
            </div>
            <div class="contentTopContainer">
                <div class="contentTopBusiness">
                    <div class="contentTopBusiness__Element__1">
                        <div>SES事業</div>
                        <img
                            src="../../../storage/img/view1.jpg"
                            class="contentTopBusiness__Element__img"
                        />
                        <div>System Engineering Services</div>
                    </div>
                    <div class="contentTopBusiness__Element__2">
                        <div>
                            <div>メディア事業</div>
                            <img
                                src="../../../storage/img/view1.jpg"
                                class="contentTopBusiness__Element__img"
                            />
                            <div>for Foreigner</div>
                        </div>
                    </div>
                    <div class="contentTopBusiness__Element__3">
                        <div>
                            <div>受託開発事業</div>
                            <img
                                src="../../../storage/img/view1.jpg"
                                class="contentTopBusiness__Element__img"
                            />
                            <div>Offshore Development</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- recruit -->
        <div class="topSection">
            <div class="topTitleContainer">
                <div class="topTitleContainer__title">
                    <div class="topTitleContainer__title__comEng">RECRUIT</div>
                </div>
            </div>
            <div class="contentTopContainer">
                <div class="contentTopRecruit">
                    <div class="contentTopRecruit__headline">
                        「人間力」×「技術力」を培い、 質の高いエンジニアへ
                    </div>
                    <div class="contentTopRecruit__button">
                        <button class="contentTopRecruit__button--btn">
                            ENTRY→
                            <div class="contentTopRecruit__button--top">
                                エントリー
                            </div>
                        </button>
                    </div>
                    <div class="contentTopRecruit__text">
                        <div class="contentTopRecruit__text__bottom">
                            <div class="contentTopRecruit__text__top">
                                お互いに期待し、行動できる。
                            </div>
                            わたしたちは、ひとりひとりの可能性に期待しています。
                            だからこそ、今の環境をより良くしたいという人を応援し、自身のキャリアや、人生を構築のサポートをしたいのです。
                            そんな世界をつくりたいというメンバーと一緒に、わたしたちはABNというプロダクトを作っています。
                            自身のキャリアや、人生を構築のサポートをしたいのです。
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- NEWS -->
        <div class="topSection">
            <div class="topTitleContainer">
                <div class="topTitleContainer__title">
                    <div class="topTitleContainer__title__comEng">NEWS</div>
                </div>
            </div>
            <div class="contentTopContainer">
                <div class="contentTopNews">
                    <div class="contentTopNews__card card" style="width: 18rem">
                        <img src="..." class="card-img-top" alt="..." />
                        <div class="card-body">
                            <p class="contentTopNews__text">日付</p>
                            <h5 class="card-title">とあるエンジニアの一日</h5>
                            <p class="contentTopNews__text card-text">
                                こんにちは。ABNの採用担当です。
                            </p>
                        </div>
                    </div>
                    <div class="contentTopNews__card card" style="width: 18rem">
                        <img src="..." class="card-img-top" alt="..." />
                        <div class="card-body">
                            <p class="contentTopNews__text">日付</p>
                            <h5 class="card-title">とあるエンジニアの一日</h5>
                            <p class="contentTopNews__text card-text">
                                こんにちは。ABNの採用担当です。
                            </p>
                        </div>
                    </div>
                    <div class="contentTopNews__card card" style="width: 18rem">
                        <img src="..." class="card-img-top" alt="..." />
                        <div class="card-body">
                            <p class="contentTopNews__text">日付</p>
                            <h5 class="card-title">とあるエンジニアの一日</h5>
                            <p class="contentTopNews__text card-text">
                                こんにちは。ABNの採用担当です。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="topSection">
            <div class="topTitleContainer"></div>
            <div class="contentTopContainer">
                <div class="contentContact__text">
                    お問い合わせの際は、プライバシーポリシーに関して同意していただく必要がございますのでご確認くださいますようお願いいたします。いただいた内容は、確認次第、弊社担当者よりメールでご回答いたします。お問い合わせ内容によっては、お返事を差し上げるまでにお時間をいただく場合や、お電話でご連絡させていただく場合もございます｡また、弊社からお返事させていただくことが適当でない場合には、お返事を差し上げられない場合もございますので、あらかじめご了承ください。
                    <div class="buttonContentContainer">
                        <a href="#" class="buttonContent"
                            >お問い合わせ・ご相談</a
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
