<!-- Load an icon library to show a hamburger menu (bars) on small screens -->
 <link rel="stylesheet" href="../css/common/header.css">

<!-- Top Navigation Menu -->
<div class="topNav">
  <!-- Logo -->
  <a href="home.php" class="logo"><img src='../../storage/icon/new_logo-600x164px.png'></a>
  <div id="hamburgerMenu"></div>
  <!-- Hamburger Navigation Menu -->
	  <input id="menu_toggle" type="checkbox" />
	    <label class="menu_btn" for="menu_toggle"><span class="menu_list"></span></label>
	    <!-- Navigation links (hidden by default) -->
	  <ul class="menu_box">
	      <li class="menu_item" >
	       <!-- Hamburger sub-menu -->
	      	<div tabindex="0" class="onclick-menu">COMPANY
                <ul class="onclick-menu-content">
                    <li><a href="#" class="hamburgerSubMenu">ビジョン</a></li>
                    <li><a href="#" class="hamburgerSubMenu">ミッション</a></li>
                    <li><a href="#" class="hamburgerSubMenu">代表挨拶</a></li>
                    <li><a href="#" class="hamburgerSubMenu">会社概要</a></li>
                </ul>
            </div></li>
	      </li>
	      <li class="menu_item">
		      <div tabindex="0" class="onclick-menu">SERVICES
                <ul class="onclick-menu-content">
                    <li><a href="#" class="hamburgerSubMenu">メディア事業</a></li>
                    <li><a href="#" class="hamburgerSubMenu">受託開発事業</a></li>
                    <li><a href="#" class="hamburgerSubMenu">SES事業</a></li>
                </ul>
            </div></li>
	      <li class="menu_item">
		      <div tabindex="0" class="onclick-menu">RECRUIT
                <ul class="onclick-menu-content">
                    <li><a href="#" class="hamburgerSubMenu">業務内容</a></li>
                    <li><a href="#" class="hamburgerSubMenu">募集要項</a></li>
                    <li><a href="#" class="hamburgerSubMenu">選考フロー</a></li>
                    <li><a href="#" class="hamburgerSubMenu">エントリー</a></li>
                </ul>
            </div></li>
	      <li><a class="menu_item" href="#">SES PARTNER</a></li>
	      <li><a class="menu_item" href="#">NEWS</a></li>
	      <li><a class="menu_item" href="#">CONTACT</a></li>
	  </ul>
</div>
