/* style for company background */
.companyTitleContainer {
    width: 100%;
    position: relative;
    margin: auto;
    z-index: 0;
    top: 119px;
    background-image: linear-gradient(to right, #7497bf, #234874, #5d7896);
    color: white;
    height: 90px;
}

/* .bgCompany-Img{
 z-index:-1;
} */
/* style for company content ul */

.companyTitleContainer #comEng {
    font-size: 48px;
    position: absolute;
    top: -25px;
}

.companyTitleContainer #comJp {
    font-size: 24px;
    position: absolute;
    top: 20px;
    left: 249px;
}

.companyTitleContainer .contentCompany ul {
    list-style-type: none;
    position: absolute;
}

/* style for company content */
.contentCompanyContainer {
    width: 100%;
    position: relative;
    margin: auto;
    z-index: 0;
    height: 408px;
    top: 99px;
}

.contentCompany {
    margin: auto;
    position: absolute;
    top: 21%;
    left: 22%;
    width: 100%;
    list-style-type: none;
}

.contentCompany ul {
    list-style-type: none;
    position: absolute;
}

#buttonCompanyContainer {
    width: 192px;
    height: 64px;
    background: #a2abfb;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: 1px white solid;
    display: flex;
    justify-content: center;
    position: relative;
}
#buttonCompanyContainer #buttonCompany {
    color: black;
    font-size: 32px;
    font-family: Poppins;
    font-weight: 400;
    text-decoration: none;
    position: absolute;
    top: 16%;
}
