/* style for recruit background */

.recruitSection {
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.recruitBg {
    width: 100%;
    height: 100vh;
    background-image: url(../../../storage/bg_img/start-page_bg.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.recruitTitleContainer {
    width: 100%;
    margin: auto;
    z-index: 0;
    height: 20%;
    padding: 80px 30px 110px;
    color: #000000;
}

.jobDescriptionTitleContainer {
    width: 100%;
    z-index: 0;
    height: 20%;
    padding: 0px 30px 110px;
    color: #000000;
}

.recruitTitleContainer__title {
    color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: flex-end;
}

.otherRecruitTitleContainer__title {
    color: #234874;
    display: flex;
    align-items: flex-end;
}

.recruitTitleContainer__title__comEng {
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-right: 40px;
}

.recruitTitleContainer__title__comJp {
    font-size: 24px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding-bottom: 8px;
}

/* .recruitTitleContainer {
    width: 100%;
    position: relative;
    margin: auto;
    z-index: 0;
    top: 71px;
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(255, 255, 255, 1);
    height: 120px;
    padding: 20px 30px;
} */

/* .bgrecruit-Img{
 z-index:-1;
} */
/* style for recruit content ul */

/* .recruitTitleContainer #comEng {
    font-size: 48px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.recruitTitleContainer #comJp {
    font-size: 24px;
    vertical-align: bottom;
    position: absolute;
    bottom: 45px;
    left: 249px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
} */

.recruitTitleContainer .contentRecruit ul {
    list-style-type: none;
    position: absolute;
}

/* style for Recruit content */
.contentRecruitContainer {
    width: 100%;
    margin: auto;
    z-index: 0;
    height: 80%;
    color: white;
    position: relative;
}

.contentRecruit {
    margin: auto;
    width: 100%;
    height: 100%;
    list-style-type: none;
}

.contentRecruit ul {
    list-style-type: none;
    padding-left: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
}

.contentRecruit__li {
    width: 40%;
    font-size: 24px !important;
    text-align: center;
}

.contentRecruit__li__text {
    width: 70%;
    text-align: center;
    font-size: 30px !important;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#buttonRecruitContainer {
    width: 192px;
    height: 64px;
    background: #a2abfb;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: 1px white solid;
    display: flex;
    justify-content: center;
    position: relative;
}

#buttonRecruitContainer #buttonCompany {
    color: black;
    font-size: 32px;
    font-family: Poppins;
    font-weight: 400;
    text-decoration: none;
    position: absolute;
    top: 16%;
}

.recruitMessageBg {
    width: 100%;
    height: 100vh;
}

/* style for recruit background */
.bgRecruit-Container {
    max-width: 100%;
    position: relative;
    margin: auto;
    z-index: 0;
    top: 119px;
}

.recruitMessageTitleContainer {
    width: 100%;
    /* position: relative; */
    margin: auto;
    z-index: 0;
    /* top: 71px; */
    height: 20%;
    padding: 0px 30px;
    color: #234874;
}

.recruitMessageTitleContainer #comEng {
    font-size: 48px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.recruitMessageTitleContainer #comJp {
    font-size: 24px;
    vertical-align: bottom;
    /* position: absolute; */
    /* bottom: 45px; */
    left: 249px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.contentRecruitMessageContainer {
    width: 100%;
    margin: auto;
    z-index: 0;
    height: 50%;
}

.contentRecruitMessageContainer2 {
    width: 100%;
    margin: auto;
    z-index: 0;
    height: 80%;
}

.jobDescriptionContainer {
    width: 100%;
    margin: auto;
    z-index: 0;
    /* height: 100%; */
    height: 80%;
}

.contentRecruiMessage {
    width: 100%;
    height: 100%;
    padding: 0px 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentRecruiMessage2 {
    width: 100%;
    height: 100%;
    padding: 0px 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentRecruiMessage__LeftSide {
    width: 50%;
    height: 100%;
    margin: auto 0;
    display: table-cell;
    vertical-align: middle;
}

.contentRecruiMessage__LeftSide__img {
    width: 90%;
    height: 90%;
}

.JobDescription__LeftSide__img {
    width: 90%;
    height: 60%;
}

.contentRecruiMessage__LeftSide2 {
    width: 50%;
    height: 100%;
    margin: auto 0;
    display: table-cell;
    vertical-align: middle;
}

.contentRecruiMessage__RightSide {
    width: 50%;
    margin: auto 0;
    display: table-cell;
    vertical-align: middle;
}

.contentRecruiMessage__RightSide2 {
    width: 50%;
    margin: auto 0;
    display: table-cell;
    vertical-align: middle;
}

.recruitMessagetext {
    font-size: 20px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.recruitMessageImg {
    text-align: center;
    height: 50%;
}

.recruitMessageComment {
    margin: 0 auto;
    height: 70px;
    width: 100%;
    text-align: center;
    font-size: 32px;
    display: table;
    background-color: #15a878;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.JobDescriptionComment {
    height: 70px;
    width: 90%;
    text-align: center;
    font-size: 32px;
    display: table;
    background-color: #15a878;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.recruitMessageComment__hope {
    color: #db0d03;
}

.JobDescriptionTitleContainer {
    width: 100%;
    /* position: relative; */
    margin: auto;
    z-index: 0;
    /* top: 71px; */
    /* height: 120px; */
    height: 20%;
    padding: 0px 30px;
    color: #234874;
}

.JobDescriptionTitleContainer #comEng {
    font-size: 48px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.JobDescriptionTitleContainer #comJp {
    font-size: 24px;
    /* vertical-align: bottom; */
    position: absolute;
    /* bottom: 45px;
    left: 400px; */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.JobDescription__LeftSide {
    width: 50%;
    text-align: center;
}

.content__posting {
    width: 100%;
    height: 100%;
    padding: 0px 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.posting__btn {
    position: relative;
    height: 90px;
    width: 90%;
}

.posting__btn__over {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #000000;
    font-size: 30px;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.6);
}

.posting__leftSide {
    margin: auto;
    text-align: center;
    width: 90%;
}

.posting__RightSide {
    width: 90%;
    text-align: center;
    margin: auto;
}

.selectionProcessTitleContainer {
    width: 100%;
    position: relative;
    margin: auto;
    z-index: 0;
    top: 71px;
    height: 120px;
    padding: 20px 30px;
    color: #234874;
}

.selectionProcessTitleContainer #comEng {
    font-size: 48px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.selectionProcessTitleContainer #comJp {
    font-size: 24px;
    vertical-align: bottom;
    position: absolute;
    bottom: 45px;
    left: 500px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.selectionProcessContentContainer {
    margin: auto;
    width: 100%;
    height: 80%;
    padding: 0px 80px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.selectionProcessbox1 {
    /* width: 240px; */
    position: relative;
    width: 20%;
    height: 40%;
    border: 5px solid rgb(21, 169, 121);
    background-color: rgb(21, 169, 121);
    transform: rotate(30deg);
    border-radius: 40px;
}

.selectionProcessbox2 {
    width: 240px;
    width: 20%;
    height: 40%;
    border: 5px solid rgb(103, 188, 121);
    background-color: rgb(103, 188, 121);
    transform: rotate(30deg);
    border-radius: 40px;
}

.selectionProcessbox3 {
    width: 240px;

    width: 20%;
    height: 40%;
    border: 5px solid rgb(153, 205, 133);
    background-color: rgb(153, 205, 133);
    transform: rotate(30deg);
    border-radius: 40px;
}

.selectionProcessbox4 {
    width: 240px;
    /* width: 12%;
    height: 240px; */
    width: 20%;
    height: 40%;
    border: 5px solid rgb(219, 12, 2);
    background-color: rgb(219, 12, 2);
    transform: rotate(30deg);
    border-radius: 40px;
}

.selectionProcessbox__text {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    color: #ffffff;
    font-size: 24px;
    font-size: 1rem;
    transform: rotate(-30deg);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: auto 0;
    display: table-cell;
    vertical-align: middle;
}

.entryContainer {
    width: 100%;
    height: 80%;
    padding: 0px 80px;
}

.entryContainer__RightSide {
    text-align: center;
}

.entryContainer__text {
    /* height: 70px; */
    height: 20%;
    /* width: 300px; */
    width: 20%;
    text-align: center;
    font-size: 32px;
    display: table;
    background-color: #15a979;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.entryContainer__btn {
    height: 90px;
    width: 40%;
}

/* TODO メディアクエリ */
@media not all and (min-width: 1024px) {
    .contentRecruit {
        margin: auto;
        position: absolute;
        top: 21%;
        left: 0%;
        width: 100%;
        list-style-type: none;
    }

    .recruitMessagetext {
        font-size: 20px;
        text-align: center;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    .selectionProcessbox1 {
        width: 30%;
    }

    .contentRecruit__li {
        font-size: large !important;
    }

    .contentRecruit__li__text {
        font-size: 30px !important;
    }
}

/* height: 100%;
width: 100%;
top: 20%;
position: absolute; */

/* style for button */
/* .entryButton {
    position: relative;
    left: 74%;
    width: 381px;
    height: 70px;
    background-image: linear-gradient(to right, #c8f9db, #c0efdf, #98befc);
    font-size: 50px;
    font-family: Poppins;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
} */

/* .entryButtonjp {
    position: absolute;
    top: 50%;
    left: 95%;
    width: 300px;
    height: 70px;
    background-color: white;
    color: black;
    font-size: 24px;
    font-family: Poppins;
    font-weight: 500;
    word-wrap: break-word;
} */

/* style for button place */
/* .buttonContainer {
    position: absolute;
    top: 27%;
    left: 60%;
} */

/* style for button hyperlink */
/* .buttonContainer a {
    display: block;
    color: black;
    text-decoration: none;
    padding-left: 25px;
    height: 100%;
    width: 100%;
} */
