<!DOCTYPE html>
<html>
    <head>
        <!-- meta -->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no"
        />
        <meta name="description" content="A Simple Full Page Scroll" />
        <!-- meta end -->

        <!-- header css -->
        <link rel="stylesheet" type="text/css" href="../../css/style.css" />
        <link rel="stylesheet" href="../../css/common/header.css" />
        <link rel="stylesheet" href="../../css/common/footer.css" />
        <!-- company css -->
        <link rel="stylesheet" href="../../css/sns/snsPartner.css" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
        />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.min.css"
            integrity="sha384-fFxL8wXRpg9gVqGpY+URMtLr3fLL0WBbo4NBQ+IWwMDYjIjI5VQ46XlJm5+BUlXJ"
            crossorigin="anonymous"
        />
    </head>
</html>

<body>
    <div>
        <div class="topNav">
            <!-- Logo -->
            <a href="home.php" class="logo"
                ><img
                    src="../../../storage/icon/new_logo-600x164px.png"
                    width="200"
            /></a>
            <div id="hamburgerMenu"></div>
            <!-- Hamburger Navigation Menu -->
            <input id="menuToggle" type="checkbox" />
            <label class="menuBtn" for="menuToggle"
                ><span class="menuList"></span
            ></label>
            <!-- Navigation links (hidden by default) -->
            <ul class="menuBox">
                <li class="menuItem">
                    <!-- Hamburger sub-menu -->
                    <div tabindex="0" class="onclickMenu">
                        COMPANY
                        <ul class="onclickMenuContent">
                            <li>
                                <a href="#" class="hamburgerSubMenu"
                                    >ビジョン</a
                                >
                            </li>
                            <li>
                                <a href="#" class="hamburgerSubMenu"
                                    >ミッション</a
                                >
                            </li>
                            <li>
                                <a href="#" class="hamburgerSubMenu"
                                    >代表挨拶</a
                                >
                            </li>
                            <li>
                                <a href="#" class="hamburgerSubMenu"
                                    >会社概要</a
                                >
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="menuItem">
                    <div tabindex="0" class="onclickMenu">
                        SERVICES
                        <ul class="onclickMenuContent">
                            <li>
                                <a href="#" class="hamburgerSubMenu"
                                    >メディア事業</a
                                >
                            </li>
                            <li>
                                <a href="#" class="hamburgerSubMenu"
                                    >受託開発事業</a
                                >
                            </li>
                            <li>
                                <a href="#" class="hamburgerSubMenu">SES事業</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="menuItem">
                    <div tabindex="0" class="onclickMenu">
                        RECRUIT
                        <ul class="onclickMenuContent">
                            <li>
                                <a href="#" class="hamburgerSubMenu"
                                    >業務内容</a
                                >
                            </li>
                            <li>
                                <a href="#" class="hamburgerSubMenu"
                                    >募集要項</a
                                >
                            </li>
                            <li>
                                <a href="#" class="hamburgerSubMenu"
                                    >選考フロー</a
                                >
                            </li>
                            <li>
                                <a href="#" class="hamburgerSubMenu"
                                    >エントリー</a
                                >
                            </li>
                        </ul>
                    </div>
                </li>
                <li><a class="menuItem" href="#">SES PARTNER</a></li>
                <li><a class="menuItem" href="#">NEWS</a></li>
                <li><a class="menuItem" href="#">CONTACT</a></li>
            </ul>
        </div>
    </div>
    <div class="snsPartnerSection">
        <div class="snsPartnerTitleContainer">
            <div class="snsPartnerTitleContainer__title">
                <div class="snsPartnerTitleContainer__title__comEng">
                    SES PARTNER
                </div>
                <div class="snsPartnerTitleContainer__title__comJp">
                    SESパートナー事業
                </div>
            </div>
            <div class="">
                <a class="link text-white" href="">TOP</a>
                <span>></span>
                <a class="link text-white" href="">RECRUIT</a>
            </div>
        </div>
        <div class="snsPartnerContentContainer">
            <div class="snsPartnerContentContainer__head">
                <div>
                    ビジネスパートナーとして<br />
                    記者事業の発展に貢献します
                </div>
            </div>
            <div class="snsPartnerContentContainer__middle">
                <div>
                    <div class="snsPartnerContentContainer__middle__text">
                        株式会社ABNでは、<br />
                        SES事業においてビジネスパートナー企業様を募集しております。<br />
                        <br />
                        相互にパートナーとして連携することで、<br />
                        お互いの事業をより発展させることができれば幸いです。<br />
                        <br />
                        ご協力いただける企業様からのご連絡を、<br />
                        心よりお待ちしております。<br />
                    </div>

                    <button
                        class="snsPartnerContentContainer__middle__button btn btn-danger"
                    >
                        CONTACT
                    </button>
                </div>
            </div>
        </div>
        <div class="buttonBlock">
            <div class="bottomNavBlack">
                <ul class="menuBlack">
                    <li>
                        <a class="footerMenuItem" href="#">Company</a>
                    </li>
                    <li>
                        <a class="footerMenuItem" href="#">Services</a>
                    </li>
                    <li>
                        <a class="footerMenuItem" href="#">Recruit</a>
                    </li>
                    <li>
                        <a class="footerMenuItem" href="#">SES Partner</a>
                    </li>
                    <li>
                        <a class="footerMenuItem" href="#">News</a>
                    </li>
                    <li>
                        <a class="footerMenuItem" href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="bottomNavWhite">
                <ul class="menuWhite">
                    <li>
                        <a href="#" id="menuItemWhiteLink"
                            >個人情報の取り扱いについて</a
                        >
                    </li>
                    <li>© 2024 株式会社アジアンビジネスネットワーク</li>
                </ul>
            </div>
        </div>
    </div>
</body>
